<div mat-dialog-content>
  <div class="text-center">
    <img src="assets/icons/icon-192x192.png" alt="InSoSleep">
  </div>
  <div class="text-center">
    InSoSleep <small>v1.0.0</small>
  </div>
  <p style="padding-top: 5px;" class="text-center">
    <small>This Progressive Web App was developed with: <a href="/3rdpartylicenses.txt" rel="nofollow"
                                                           target="_blank">Angular</a></small>
  </p>
  <p class="text-center">
    <a target="_blank" rel="nofollow" href="https://github.com/NunuM/insoslepp-pwa">
      <img src="assets/github.png" alt="source project code">
    </a>
    <br>
    <small>You can find the code on GitHub</small>
  </p>
  <p class="text-center">
    <small>
      This application do not use any tracking mechanism or cookies technology for that matter.
      <br>
      YOU ARE 100% ANONYMOUS
    </small>
  </p>
  <p class="text-center">
    <small>Powered by <a href="https://talos.sh" rel="nofollow" target="_blank">Talos</a></small>
  </p>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
