<h1 mat-dialog-title>Bug Report</h1>

<div mat-dialog-content style="padding-top: 20px;">
  <mat-form-field color="accent" class="full-width">
    <mat-label>Describe the problem/suggestion in the box.</mat-label>
    <textarea [formControl]="textControl" matInput rows="10"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <span style="flex:1;"></span>
  <button (click)="sendBug()" color="accent" mat-button>Submit</button>
</div>
